@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot?t=1496493750793");
  /* IE9*/
  src: url("iconfont.eot?t=1496493750793#iefix") format("embedded-opentype"), url("iconfont.woff?t=1496493750793") format("woff"), url("iconfont.ttf?t=1496493750793") format("truetype"), url("iconfont.svg?t=1496493750793#iconfont") format("svg");
  /* iOS 4.1- */
  font-weight: normal;
  font-style: normal; }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-xiangshang:before {
  content: "\e600"; }

.icon-kaishi:before {
  content: "\e601"; }

.icon-xiazai:before {
  content: "\e604"; }

.icon-weixin:before {
  content: "\e603"; }
.toolbar {
  position: fixed;
  right: 0;
  bottom: 55px;
}
.toolbar-item {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 1px;
}
.toolbar-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
/*  left: 0;
  top: 0;*/

}
.toolbar-icon {
  top: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  background-color:#98a1a6 ;
  color:#fff ;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}
.toolbar-text {
  top:40px;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color:#fff ;
  background-color:red;
  font-size: 10px;
  line-height: 1.3;
  padding-top: 6px;
  padding-bottom: 10px;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;

}
.toolbar-layer {
  right: 37px;
  width: 160px;
  bottom: -8px;
  position: absolute;
  background-image: url(../image/toolbar_img.png);
  background-repeat: no-repeat;
  opacity: 0;
  filter: ahpla(opacity=0);
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transform-origin: 97% 97%;
  -moz-transform-origin: 97% 97%;
  -ms-transform-origin: 97% 97%;
  -o-transform-origin: 97% 97%;
  transform-origin: 97% 97%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

}
.toolbar-layer-weixin {
    height: 212px;
    background-position: 0 0;
}
.toolbar-layer-app {
    height: 194px;
    background-position: 0 -222px;
}
.toolbar-item:hover .toolbar-icon{
  top: -40px;
}
.toolbar-item:hover .toolbar-text{
  top: 0;
}
.toolbar-item:hover .toolbar-layer{
  opacity: 1;
  filter: ahpla(opacity=100);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6); 
}

.wz .dbt {
  opacity: 0;
  animation: fadeInRight 1s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes fadeInRight
{
    0%   {
        opacity: 0;
        -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        transform: translateX(-50px);
    }   
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}
 
@-webkit-keyframes fadeInRight /* Safari 与 Chrome */
{
    0%   {
        opacity: 0;
        -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.wz .xbt {
  opacity: 0;
  animation: fadeInLeft 2s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}

@keyframes fadeInLeft
{
    0%   {
        opacity: 0;
        -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
        transform: translateX(50px);
    }   
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}
 
@-webkit-keyframes fadeInLeft /* Safari 与 Chrome */
{
    0%   {
        opacity: 0;
        -webkit-transform: translateX(50px);
        -ms-transform: translateX(50px);
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.wz .dx {
  opacity: 0;
  animation: fadeIn 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn
{
    0%   {
        opacity: 0;
       
    }   
    100% {
        opacity: 1;
       
    }
}
 
@-webkit-keyframes fadeIn /* Safari 与 Chrome */
{
    0%   {
        opacity: 0;
      
    }
    100% {
        opacity: 1;
      
    }
}




























































































